<%- include('partials/navBar') -%>
<%- include('partials/header') -%>
<body>
    <h1>BEM VINDE</h1>
   
    <a href="/newUser">
        <button>Criar conta</button>
      </a>
      <a href="/loginUser">
        <button>Logar na conta</button>
      </a>
      
    
</body>
<%- include('partials/footer') -%>