<%- include('../partials/navBar') -%> <%- include('../partials/header') -%>

<form action="/authenticateUser" method="post">
    <input type="text" name="nome" placeholder="nome">
    <input type="password" name="senha" placeholder="senha">
    <button type="submit">Entrar</button>
</form>

<%- include('../partials/footer') -%>
